ion-badge {
    top: 6px;
    left: calc(50% + 1px);
    font-size: 10px;
    font-weight: 900;
    border-radius: 12px;
    padding: 4px 4px 4px;
    min-width: 22px;
    min-height: 22px;
    line-height: 14px;
}
